body{
    background-color: #191414;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family:'Inconsolata', monospace;
  color:white;
  font-weight: 2;
}


.app_title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
   text-align: center;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: darkgray; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1DB954; 
}

